.bounding-box{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 50px;
    z-index: 1;
    cursor: pointer;
}

.bounding-box:hover {
    opacity: 0.5;
    background-color: transparent !important;
    outline: 0px dotted transparent;
    padding: 20px 20px;
    border: 3px dotted #F7B733;
    transition: all 0.2s ease-in-out;
}

.inputImg{
    border-radius: 10px;
}