.bounding-box{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    background: black;
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
}

.bounding-box:hover {
    opacity: 0.5;
    background: transparent;
    outline: 0px dotted transparent;
    padding: 20px 20px;
    border: 3px dotted #F7B733;
    transition: all 0.2s ease-in-out;
}

.inputImg{
    border-radius: 10px;
}

.maskedImg {
    /* width:100%; */
    /* height: 100%; */
    opacity: 0.9;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;  
    margin-left: 20px;
    /* width: 90%; */
    background-color: #4ABDAC;
    filter: drop-shadow(8px 8px 10px #F78733); 
}
